# .gitignore
# White List
*
!*/

# Manager
!.gitignore
!pkglist.toml
!qingsConfig.sh

# user dirs
!user-dirs.dirs
# Default Application
!mimeapps.list

# ConfigsR
# systemd
!environment.d/**
# hyprland
!hypr/**
# kitty
!kitty/**
# waybar
!waybar/**
# zsh
!zsh/**
zsh/.histfile
zsh/.zcompdump
# starship
!starship.toml
# Fcitx5
!fcitx5/**
!rime/**
# walker
!walker/**
# GTK
!gtk-3.0/**
!gtk-4.0/**